* {
    /* border: 2px solid red; Placeholder margin -- LEMBRE DE TIRAR */
    /* margin: 0px; */
}

body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    
}

#titulo {

}

#minha_foto {
    width: 25%;
}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

#rodape {

}

